{% include 'admin_header.html'%}
<CENTER>
	<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">

	<form method="post">
		{% if  data['row'] %}
				<table class="table" >
				<h1 style="margin-top: 100px;color: white" > Update Law and Order Details</h1>
				
				<tr>
					<th style="color: white">Lawandorder</th>
					<td><input type="text"  name="Lawandorder" value="{{data['row'][0]['Lawandorders']}}" class="form-control"></td>
				</tr>
				<tr>
					<th style="color: white">Details</th>
					<td><input type="text" name="Details" value="{{data['row'][0]['Details']}}" class="form-control"></td>
				</tr>
				<tr>
	 				<td align="center" colspan="2"><input type="submit" name="up" value="Manage" class="btn btn-success"></td>
	 			</tr>
			</table>
			{% else %}
			<table >
				<h1 style="margin-top: 100px;color: white">Law and Order</h1>
				<br>
				<tr>
					<th style="color: white">Law and Order</th>
					<td><input type="text" required class="form-control" name="Lawandorder"></td>
				</tr>
				<tr>
					<th style="color: white">Crime</th>
					<td><input type="text" required class="form-control" name="Details"></td>
				</tr>
				<tr>
	 				<td align="center" colspan="2"><input style="margin-left: 50px;margin-top: 10px"  type="submit" name="view" value="Insert" class="btn btn-info"></td>
	 			</tr>
			</table>
		</form>
			{% endif %}


      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>
</use>

  </section>
	<form>
		<h1>Law And Order</h1>
		<table class="table">
			<tr>
			<th>Sl.No</th>
			<th>Law and Order</th>
			<th>Details</th>
			<th>Date</th>
		</tr>
		{%for i in data['lawandorder']%}
			<tr>
				<td>{{loop.index}} </td>
				<td>{{i['Lawandorders']}} </td>
				<td>{{i['Details']}}</td>
				<td>{{i['Date']}} </td>
				<td><a href="?action=delete&cid={{i['Lawandorder_id']}}" class="btn btn-danger">Delete</a></td>
				<td><a href="?action=update&cid={{i['Lawandorder_id']}}" class="btn btn-success">Update</a></td>

			</tr>

		{%endfor%}
		</table>
	</form></center>
{% include 'footer.html' %}