{% include 'admin_header.html' %}
	<center><h1 style="margin-top: 100px">Criminal Details</h1>
	<form>
		<table class="table">
			<tr>
			<th>Sl.No</th>
			<th>Crime Id</th>
			<th>Name</th>
			<th>Details</th>
			<th>Aadhar</th>
			<th>Passport</th>
		</tr>
		{%for i in data['criminals']%}
			<tr>
				<td>{{loop.index}} </td>
				<td>{{i['Crime_id'] }}</td>
				<td>{{i['Name']}} </td>
				<td>{{i['Details']}} </td>
				<td>{{i['Aadhar']}} </td>
				<td>{{i['Passport']}} </td>
			</tr>

		{%endfor%}
		</table>
	</form></center>
{% include 'footer.html' %}