{% include 'station_header.html' %}
	<center>	
	<br><br><br>
	<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">

	<form method="post" enctype="multipart/form-data">
		{% if  data['row'] %}
			<table >
				<h1 style="margin-top: 100px;color: white">Update FIR Details</h1>
				
				<tr>
					<th style="margin-top: 100px;color: white">Fir_Details</th>
					<td><input type="text" name="Firdetails" value="{{data['row'][0]['Firdetails']}}"></td>
				</tr>
				<tr>
					<th style="margin-top: 100px;color: white">Uploaded File</th>
					<td><input type="File" name="Uploadedfile" value="{{data['row'][0]['Uploadedfile']}}"></td>
				</tr>
				<tr>
	 				<td align="center" colspan="2"><input type="submit" name="up" value="Manage" class="btn btn-success"></td>
	 			</tr>
			</table>
			{% else %}
		<table >
			<h1 style="margin-top: 100px;color: white">FIR Details</h1><br><br>
				
				<tr>
					<th style="margin-top: 100px;color: white">FIR_Details</th>
					<td><input type="text" required pattern="[A-Za-z]+$" class="form-control" name="Firdetails"></td>
				</tr>
				<tr>
					<th style="margin-top: 100px;color: white">Uploaded_File</th>
					<td><input type="File" required name="Uploadedfile"></td>
				</tr>
				<tr>
	 				<td align="center" colspan="2"><input type="submit" name="view" value="Insert" class="btn btn-info"></td>
	 			</tr>
			</table>

			{% endif %}
		<a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>
</use>
  </section>
		<table class="table">
			<tr>
			<h1>View FIR</h1>
			<th>Sl.No</th>
			<th>Crime Id</th>
			<th>FIR_Details</th>
			<th>Uploaded_file</th>
		</tr>
		{%for i in data['fir']%}
			<tr>
				<td>{{loop.index}} </td>
				<td>{{i['Crime_id'] }}</td>
				<td>{{i['Firdetails']}} </td>
				<td><img src="/{{i['Uploadedfile']}}" width="200" height="150"></td>
				<td>
					<a href="station_issue_charge_sheet?cid={{i['Crime_id']}}"class="btn btn-success">Charge Sheet</a></td>
				<td><a href="?action=delete&cid={{i['Fir_id']}}" class="btn btn-danger">Delete</a></td>
				<td><a href="?action=update&cid={{i['Fir_id']}}" class="btn btn-info">Update</a></td>
			</tr>

		{%endfor%}
		</table>
	</form>
</center>