{% include 'user_header.html' %}
<center>
	
	<section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">

	<form method="post">
		<h1 style="color: white">Send Complaints</u></h1><br><br>
		<table>
			<tr>
				<th style="color: white">Select Station</th>
				<td>
					<select name="station">
						{% for i in data['station'] %}
						<option value="{{i['Station_id']}}">{{i['Station']}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<th style="color: white">Complaint</th>
				<td><input type="text" required class="form-control" name="msg"></td>
			</tr>
	 			<td align="center" colspan="2"><input style="margin-left: 60px;margin-top: 10px"type="submit" name="send" value="Send" class="btn btn-info"></td>
	 		</tr>
		</table>
	</form>
	<a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>
</use>

  </section>

	<h1 style="color: black">View Complaints</h1><br><br>
	<table class="table">
		
		<tr>
			<th>Sl.No</th>
			<th>Station_Name</th>
			<th>Complaint</th>
			<th>Date</th>
			<th>Status</th>
		</tr>
		{% for i in data['complaint'] %}
		<tr>
			<td>{{loop.index}} </td>
			<td>{{i['Station']}} </td>
			<td>{{i['Complaint']}} </td>
			<td>{{i['Date']}} </td>
			<td>{{i['Status']}}</td>
			<td><a href="user_mange_evidence?cid={{i['Complaint_id']}}" class="btn btn-info">Evidences</a></td>
			<td><a href="user_mange_files?cid={{i['Complaint_id']}}" class="btn btn-success">Files</a></td>
			<td><a href="user_send_msg_to_police?cid={{i['Complaint_id']}}&stid={{i['Login_id']}}"class="btn btn-dark">Send Message </a></td>
		</tr>
		{%endfor%}
	</table>
</center>
{% include 'footer.html' %}
